
/*EL PADDING SEPARA LOS OBJECTOS ADENTRO */
    /* Se pueden hacer 2 formas de padding  
    padding: 10px 0px 40px 20px 
    siguiendo las lineas del reloj*/
/*EL MARGIN SEPARA LOS OBJECTOS AFUERA */
.formulario{
    background-color: brown;
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 30px;

}
.formulario_input{
    padding: 10px
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: blueviolet;
    width: 50%;
}

.box{
    background-color: rgb(20, 245, 0);
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    
}